.Bio {
  text-align: left;
  align-items: center;
  letter-spacing: 0.01rem;
  color: white;
  width: min(550px,85vw);
  font-size: 16px;
}

.title {
  text-align: center;
  align-items: center;
  letter-spacing: 0.01rem;
  color: white;
  width: min(520px,90vw);
  font-size: 36px;
}

.top{
	vertical-align: top;
	color: white;
	font-size: calc(4px + 2vmin);
	justify-content: center;
	padding-left: calc(2px + 2vmin);
	padding-right: calc(2px + 2vmin);
}

.pic {
  display: run-in;
  height: 30vh;
  padding-top: calc(1px + 1vmin); 
  padding-bottom: calc(1px + 1vmin); 
  pointer-events: none;
  align-items: center;
}

.button{
	align-items: left;
    border-radius: calc(10px);
	font-size: 16px;
	color: black;
    cursor: pointer;
    padding: calc(16px) calc(16px);
    border: none;
	background-color: white;
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
	padding-left: calc(2px + 4vmin);
	padding-right: calc(2px + 4vmin);
	min-height: 100vh;
    align-items: center;
	background-color: #212121;

}