.Bio {
  text-align: center;
  align-items: center;
  letter-spacing: 0.01rem;
}

.top{
	vertical-align: top;
	color: white;
	font-size: calc(8px + 2vmin);
	justify-content: center;
	padding-left: calc(2px + 2vmin);
	padding-right: calc(2px + 2vmin);
}

.pic {
  display: run-in;
  height: 30vh;
  padding-top: calc(1px + 1vmin); 
  padding-bottom: calc(1px + 1vmin); 
  pointer-events: none;
  align-items: center;
}

.button{
    border-radius: calc(1px + 1vmin);
	font-size: calc(2px + 1.5vmin);
	color: black;
    cursor: pointer;
    padding: calc(1px + 1vmin) calc(2px + 1vmin);
    border: none;
	background-color: white;
}

.container{
    font-size: calc(3px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
	padding-left: calc(2px + 2vmin);
	padding-right: calc(2px + 2vmin);
	min-height: 100vh;
    align-items: center;
	background-color: #212121;

}
